/* CSS RESET  */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  width: 90%;
  margin: 0 auto;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: contain;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Cabin Sketch", sans-serif;
    font-family: "Gorditas", serif;
    font-family: "Trykker", serif;
    font-weight: 400;
    font-style: normal;
    src: url(https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Gorditas&family=Trykker&display=swap);
  }
  html {
    font-family: "Trykker", serif;
  }
  body {
    width: 83%;
    margin: 0 auto;
    /* @apply bg-light_yellow__highlight */
  }
  h1 {
    @apply text-3xl;
    @apply text-dark_green__primary;
    @apply font-Cabin;
    @apply font-bold;
  }
  h2 {
    @apply text-2xl;
    @apply font-Gorditas;
    @apply font-medium;
    @apply text-light_green__secondary;
  }
  p,
  a {
    @apply text-base;
    @apply font-Trykker;
    @apply font-normal;
  }
  .swiper {
    width: 100%;
    height: auto;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  button{
    @apply font-bold
    @apply font-Gorditas;
    @apply text-white;
  }
  button:hover{
    background-color: #E1B083;
    color: #638A55;
  }
}

.menu {
  display: none;
}
/* centered  */
.centered {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* From https://css.glass */
  background: rgba(233, 242, 230, 0.61);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  height: 50%;
}
/* grid about us  */
.grid-about {
  display: grid;
  height: 100%;
  grid-gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-content: center;
  /* background-color: brown; */
}
.team-content,
.career-content {
  grid-row: span 1;
  grid-column: span 1;
}
.image {
  grid-column: span 1;
  grid-row: 1 / -2;
}
.image-2 {
  grid-column: span 1;
  grid-row: 2 / -1;
}

.radius {
  display: flex;
  align-items: flex-end;
  object-position: center;
}
